<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2023.
  ~
  ~
  ~  Copyright 2012-2023 Manuel Daniel Dahmen
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".toolbar"
            android:exported="true"
            android:label="@string/title_activity_toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- >tools:ignore="AllowBackup" -->
        <activity
            android:name=".TextActivity"
            android:exported="false"
            android:label="@string/title_activity_text"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d" />
        <activity
            android:name=".ChooseEffectsCompose"
            android:exported="false"
            android:label="@string/title_activity_choose_effects_compose"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d" />
        <activity
            android:name=".ChooseEffectList"
            android:exported="false"
            android:label="@string/title_activity_choose_effect_list"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d" />
        <activity
            android:name=".ChooseEffectsActivity2"
            android:exported="false"
            android:label="@string/title_activity_choose_effect_list"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d" />
        <!--
        <activity
            android:name=".FullscreenActivityCameraLiveEffect"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen_camera_live_effect"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d.Fullscreen" />
        -->
        <!--
        <activity
            android:name=".one.empty3.feature.app.maxSdk29.pro.CameraPreview"
            android:exported="false"
            android:label="@string/title_activity_camera_preview"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d" />
        -->
        <activity
            android:name=".ChooseEffectsActivity"
            android:exported="false"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <!-- <action android:name="android.intent.action.MAIN" /> -->


                <!-- Default for launch requests -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyCameraActivity"
            android:exported="true"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d">

            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <intent-filter android:autoVerify="true">
                <data android:scheme="file" />
                <data android:host="empty3.one" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            -->
            <!-- App links for http/s -->
            <!--
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="empty3.one" />
                <data android:host="www.empty3.one" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/png" />
            </intent-filter>
            -->
        </activity> <!-- FileProvider used to share photos with other apps -->
        <activity
            android:name=".LicenceUserData"
            android:exported="false"
            android:theme="@style/Theme.FeatureApp134a7b212b2e13753a6c06877eb82b06f1fc743d" />
        <activity
            android:name=".FormulaStore"
            android:exported="false"
            android:label="@string/title_activity_formula_store"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LicenceUserData2"
            android:exported="false" /> <!-- <a href="https://www.flaticon.com/free-icons/electronics" title="electronics icons">Electronics icons created by 88 Cloud - Flaticon</a> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Simple Calculator"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MyFileProvider"
            android:authorities="one.empty3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            ...
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>