<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:versionName="3.0"
        >
    <queries>
        <package android:name="one.empty3.feature.app.maxSdk29.pro" />
    </queries>
    
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"
            />
    
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="34"
            />
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="34"
            />
    <uses-permission
            android:name="android.permission.READ_MEDIA_IMAGES"
            android:minSdkVersion="29"
            />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
            android:name=".FeatureAppApplication"
            android:icon="@drawable/ediitor_image"
            android:roundIcon="@drawable/ediitor_image_round"
            android:theme="@style/Theme.FeatureAppmain"
            android:allowBackup="true"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:installLocation="auto"
            android:label="@string/app_name"
            android:supportsRtl="true"
            >
        <property
                android:name="android.adservices.AD_SERVICES_CONFIG"
                android:resource="@xml/gma_ad_services_config"
                tools:replace="android:resource" />
        
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-7902161960217484~9989091842"/>
        <!--   <activity
                android:name=".MainActivity2"
                android:exported="false"
                android:label="@string/title_activity_main2"
                android:theme="@style/Theme.FeatureAppmain.NoActionBar"
                />-->
        <activity
                android:name=".ui.login.LoginActivity2"
                android:exported="false"
                android:label="@string/title_activity_login2"
                android:windowSoftInputMode="adjustResize"
                    /> <!-- Trigger Google Play services to install the backported photo picker module. -->
        <property
                android:name=".REQUIRE_SECURE_ENV"
                android:value="1"
                />
        
        <activity
                android:name=".FaceActivitySettings"
                android:exported="false"
                android:label="@string/title_activity_scrolling"
                android:theme="@style/Theme.FeatureAppmain.NoActionBar"
            android:windowSoftInputMode="adjustResize"

                />
        <activity
                android:name=".MainActivityFragments"
                android:exported="false"
            android:windowSoftInputMode="adjustResize"
                />
        <activity
                android:name=".SettingsScrollingActivity"
                android:exported="false"
                android:label="@string/title_activity_settings_scrolling"
                android:theme="@style/Theme.FeatureAppmain.NoActionBar"
            android:windowSoftInputMode="adjustResize"
                />
        <activity
                android:name=".PictureDataActivity"
                android:exported="false"
                android:label="@string/title_activity_picture_data"
                android:theme="@style/Theme.FeatureAppmain"
            android:windowSoftInputMode="adjustResize"
                />
        <activity
                android:name=".VisualFaceEffects"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="Face Visual Effects"
                android:theme="@style/Theme.FeatureAppmain"
            android:windowSoftInputMode="adjustResize"
                >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                
                <category android:name="android.intent.category.DEFAULT" />
                
                <data android:mimeType="image/jpg" />
            </intent-filter>
        </activity>
        <activity
                android:name=".FaceEffectListActivity"
                android:exported="false"
                android:label="@string/title_activity_face_effect_list"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                />
        <activity
                android:name=".ReshapeActivity"
                android:exported="false"
            android:windowSoftInputMode="adjustResize"
                />
        <activity
                android:name=".TextActivity"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="@string/title_activity_text"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                />
        <activity
                android:name=".ChooseEffectsActivity2"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="@string/title_activity_choose_effect_list"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                >
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <!-- <action android:name="android.intent.action.MAIN" /> -->
                
                <data android:scheme="package" />
                <!-- Default for launch requests -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity

                android:name=".MyCameraActivity"
                android:enabled="true"
                android:exported="true"
                android:theme="@style/Theme.FeatureAppmain"
            android:windowSoftInputMode="adjustResize"
                >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <data android:mimeType="image/jpg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                
                <category android:name="android.intent.category.DEFAULT" />
                
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                
                <category android:name="android.intent.category.DEFAULT" />
                
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                
                <category android:name="android.intent.category.DEFAULT" />
                
                <data android:mimeType="image/*" />
            </intent-filter>
            <!--
              <intent-filter
                  android:scheme="http"
                  tools:ignore="AppLinkUrlError">
                  <data android:scheme="package" />

                  <action android:name="android.intent.action.VIEW" />
                  <action android:name="android.intent.action.EDIT" />

                  <category android:name="android.intent.category.DEFAULT" />
                  <data android:mimeType="image/*" />
              </intent-filter>
            -->
        </activity>
        <activity
                android:name=".LicenceUserData"
                android:exported="false"
                android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                />
        <activity
                android:name=".LicenceUserData2"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="LicenceUserData2"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                />
        <activity
                android:name=".Calculator"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="Simple Calculator"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                />
        <activity
                android:name=".GraphicsActivity"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="Draw graphics"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                />
        <activity
                android:name=".GraphicsActivityView"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="Draw graphics"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                />
        <activity
                android:name=".FaceActivity"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="Face Paint"
            android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.FeatureAppmain"
                >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_OPEN_DOCUMENT" />
                
                <category android:name="android.intent.category.OPENABLE" />
                
                <data android:mimeType="application/*.model" />
                <data android:scheme="file" />
                <data android:path="/*.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                
                <category android:name="android.intent.category.OPENABLE" />
                
                <data android:mimeType="application/*.model" />
                <data android:scheme="file" />
                <data android:path="/*.*" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ShareActivity"
                android:exported="false"
                android:hardwareAccelerated="true"
                android:label="@string/work_with_photos"
                android:theme="@style/Theme.FeatureAppmain"
            android:windowSoftInputMode="adjustResize"
                ></activity>
        
        <provider
                android:name=".MyImageFileProvider"
                android:authorities="one.empty3.feature.app.maxSdk29.pro.MyImageFileProvider"
                android:exported="false"
                android:grantUriPermissions="true"
                >
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
                
                <data
                        android:mimeType="image/*"
                        android:scheme="file"
                        />
            </intent-filter>
            
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_pictures"
                    />
        </provider>
        <provider
                android:name=".MyFileProvider"
                android:authorities="one.empty3.feature.app.maxSdk29.pro.MyFileProvider"
                android:exported="false"
                android:grantUriPermissions="true"
                >
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
                
                <data
                        android:mimeType="model/*.model"
                        android:scheme="file"
                        />
            </intent-filter>
            
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"
                    />
        </provider>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:enabled="@bool/atLeastKitKat"
                android:exported="false"
                android:grantUriPermissions="true"
                android:permission="android.permission.MANAGE_DOCUMENTS"
                >
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
                
                <data android:mimeType="application/*.fac" />
                <data android:scheme="file" />
                <data android:path="*.*" />
            </intent-filter>
            
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"
                    />
        </provider>
        
        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="face"
                />
        <meta-data
                android:name="firebase_performance_logcat_enabled"
                android:value="true"
                />
        
        <service
                android:name="com.google.android.gms.metadata.ModuleDependencies"
                android:enabled="false"
                android:exported="false"
                tools:ignore="MissingClass"
                >
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            
            <meta-data
                    android:name="photopicker_activity:0:required"
                    android:value=""
                    />
        </service>
        <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="true" />

    </application>

</manifest>